html, body {
    background-color: #444;
}
body {
}

.topbar {
    text-align: center;
    background-color: #222;
    border-style: solid none;
    border-color: #BBB;
    border-width: thick;
}

#secondbar {
    text-align: center;
    background-color: #222;
    border-bottom-style: solid;
    border-color: #BBB;
    border-width: thick;
}

#secondbar ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#secondbar li {
    display: inline;
    padding: 20px;
}



.secondbarLink {
    color: #00CED1;
    font-size: 2em;
    font-family: "Arial Narrow", Arial, sans-serif;
    text-decoration: none;
}

.secondbarLink:hover {
    text-decoration: none;
    color: #00CED1;
}


.topName {
    color: #00CED1;
    font-size: 3em;
    font-family: Impact, Charcoal, sans-serif;
    text-decoration: none;
}

.topName:hover {
    text-decoration: none;
    color: #00CED1;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}


.split {
    padding: 30px;
    width: 100%;
}

.left-side {
    float: left;
    width: 50%;
}

.right-side {
    float: right;
    width: 50%;

}

.link-icons-container {
    text-align: center;

}

.link-icons-container ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.link-icons-container li {
    display: inline;
    padding: 20px;
}

.icon-link {
    color: #F8F8FF;
}

.icon-img {
    /*height: 35px;*/
    max-width: 80%;
    height: auto;
    -webkit-filter: grayscale(100%) opacity(80%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) opacity(80%);

}

.icon-link:hover {
    text-decoration: none;

    color: #F8F8FF;
}

#contact-text {
    color: #D3D3D3;
    font-size: 2.3vw;
    font-family: "Arial Narrow", Arial, sans-serif;
    vertical-align: top;

}

.resume {
    position:absolute; left: 0; right: 0; bottom: 0; top: 0px;
}

.profile-img {
    display: block;
    margin: auto;
    max-width: 80%;
    height: auto;
    -webkit-filter: brightness(75%) opacity(80%); /* Safari 6.0 - 9.0 */
    filter: brightness(75%) opacity(80%);
    border-radius: 8px;

}

.blurb {
    width: 80%;
    margin: auto;
    padding-bottom: 30%;
    color: #D3D3D3;
    font-size: 4vw;
    font-family: "Arial Narrow", Arial, sans-serif;
    vertical-align: top;

}