@main("Sean Burke") {

    <div class="split">
        <div class="left-side">
            <div class="blurb">
                <p>I am a software developer currently working remotely as a Principle Software Technologist at <a id="pattern-link" href="http://www.patterninc.co/">Pattern Inc.</a> I hold Bachelors and Masters degrees from MIT in Computer Science with a focus in Artificial Intelligence. I am most passionate about machine learning, algorithm development, functional programming, and automation, and I am always looking to explore new areas in the software field. Outside of work, I enjoy skiing, ice hockey, boating, fishing and backpacking. Feel free to contact me with questions, comments, and/or opportunities.</p>
            </div>
            <div class="link-icons-container">
                <ul class="contact-list">
                    <li id="contact-text">Contact:</li>
                    <li><a class="icon-link" href="https://www.linkedin.com/in/seanburkemit"><img src="@routes.Assets.at("images/linkedinicon.png")" class="icon-img"></a></li>
                    <li><a class="icon-link" href="https://github.com/seburke"><img src="@routes.Assets.at("images/githubicon.png")" class="icon-img"></a></li>
                    <li><a class="icon-link" href="mailto:seburke4@@gmail.com"><img src="@routes.Assets.at("images/mailicon2.png")" class="icon-img"></a></li>
                </ul>

            </div>
            <div class="Short about">

            </div>
        </div>
        <div class="right-side">
            <div class="profile-container">
                <img src="@routes.Assets.at("images/profile1.png")" class="profile-img">
            </div>
        </div>

    </div>

}