@main("Sean Burke") {

    <div class="split">
        <div class="left-side">
            <div class="link-icons-container">
                <ul>
                    <li><a class="icon-link" href="https://www.linkedin.com/in/seanburkemit">LinkedIn</a></li>
                    <li><a class="icon-link" href="mailto:seburke4@@gmail.com">Email</a></li>
                    <li><a class="icon-link" href="https://github.com/seburke">Github</a></li>
                </ul>

            </div>
            <div class="Short about">

            </div>
        </div>
        <div class="right-side">
            <!-- My picture here -->
        </div>

    </div>

}