@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")"> <!-- change this to my symbol-->
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <!-- First create the stationary top bar. -->
        <div class="topbar">
            <a class="topName" href="@routes.Application.index()">Sean E. Burke</a>
        </div>
        <div id="secondbar">
            <ul>
                <li><a class="secondbarLink" href="@routes.Application.index()">About</a></li>
                <li><a class="secondbarLink" href="@routes.Application.projects()">Projects</a></li>
                <li><a class="secondbarLink" href="@routes.Application.resume()">Resume</a></li>
              </ul>
        </div>

        @content
    </body>
</html>
